@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html, body {
  background-color: #000;
  color: #ccc;
  font-family: system-ui, sans-serif;
}

a {
  color: #4fa3f7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  color: #fff;
}
